%p#notice= notice

= image_tag @item.image_url, size: '100x100'

%p
  %h2= @item.name
%p
  %b Description:
  = @item.description
%p
  %b Price:
  = @item.price
%p
  %b Image url:
  = @item.image_url


.line_item
  = form_for LineItem.new(item: @item) do |f|
    = f.hidden_field :item_id
    = f.label :quantity, '数量'
    = f.number_field :quantity, size: 5, required: true
    = submit_tag 'カートに追加'

= link_to 'Back', items_path
